<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>K-article Demo</title>
    <link rel="stylesheet" href="../src/static/css/pageStyle.css"/>
    <link rel="stylesheet" href="../src/static/css/karticle.css"/>
    <link rel="stylesheet" href="../src/static/css/github-gist.css"/>
    <script src="../src/static/js/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</head>
<body>
<header class="g-hd">
<h1>K-article使用说明与示例</h1>
</header>
<div class="g-bd">
    <div class="g-inner">
        <article class="k-article">
            <h1>K-article使用说明与示例</h1>
            <h2>K-article说明</h2>
            <p>K-article是一个html文章的css样式，外带了一个文章标题列表的提取与铆点构造的js功能。主要应用于用markdown书写转换出的html代码。如果你还不知道markdown是啥，点<a href="http://www.appinn.com/markdown/basic.html">这里</a>学习一下。</p>
            <p>如果你想不用模板搭建自己的博客，用markdown写作，又懒得调css样式，这是最省事的方案。</p>
            <h2>引用说明</h2>
            <h3>css的引用方法：</h3>
            <p>首先在head中引用<code>karticle.css</code>。</p>
            <pre><code class="html">&lt;link rel="stylesheet" href="../src/static/css/karticle.css"/&gt; </code></pre>
            <p>之后你需要一个容器，宽度自定。这个容器决定了这篇文章在什么位置、多宽。之后在这个容器里建造一个名叫<code>k-article</code>的容器：</p>
            <pre><code class="html">&lt;div class="g-inner"&gt;
        &lt;div class="k-article"&gt;
            //代码放在这里
        &lt;/div&gt;
   &lt;/div&gt;</code></pre>
            <p>就像上面的html一样，把文章的代码放在里面就可以了</p>
            <h3>js的引用方法：</h3>
            <p>在body最下面引用js文件即可。</p>
            <pre><code class="html">&lt;script src="../src/static/js/karticle.min.js"&gt;&lt;/script&gt;</code></pre>
            <h2>格式说明</h2>
            <h3>css格式说明</h3>
            <p>上面的引用说明中已展示了<code>h1</code>、<code>h2</code>、<code>h3</code>、<code>code</code>、<code>pre+code</code>、<code>p</code>的格式。下面是其他的常用代码格式示例：</p>
            <h4>这是h4</h4>
            <h5>这是h5</h5>
            <h6>这是h6</h6>
            <p>这是a链接：<a href="#">这是a链接</a></p>
            <em>这是斜体</em>
            <strong>这是粗体</strong>
            <p>这是比容器大的图片：</p>
            <img src="../src/static/images/meizi.jpg" alt="比容器大的图片"/>
            <p>这是比容器小的图片：</p>
            <img src="../src/static/images/meizi2.jpg" alt="比容器小的图片"/>
            <p>这是列表：</p>
            <ul>
                <li>列表1列表1列表1</li>
                <li>列表2列表2</li>
                <li>列表3</li>
            </ul>
            <ol>
                <li>列表1列表1列表1</li>
                <li>列表2列表2</li>
                <li>列表3</li>
            </ol>
            <p>下面是blockquote引用的文字块：</p>
            <blockquote>
                <p>当您在使用gulp构建您的项目时，您只需要 require Browsersync 模块, 利用API 并进行 选项配置。 以下是一些流行项目中常见的用例， 如 谷歌的网络入门套件 和其他项目。</p>
            </blockquote>
            <h3>新增：表格</h3>
            <table>
                <thead>
                <tr>
                    <th style="text-align:left">Tables</th>
                    <th style="text-align:center">Are</th>
                    <th style="text-align:right">Cool</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>col 3 is</td>
                    <td style="text-align:center">right-aligned</td>
                    <td style="text-align:right">$1600</td>
                </tr>
                <tr>
                    <td>col 2 is</td>
                    <td style="text-align:center">centered</td>
                    <td style="text-align:right">$12</td>
                </tr>
                <tr>
                    <td>zebra stripes</td>
                    <td style="text-align:center">are neat</td>
                    <td style="text-align:right">$1</td>
                </tr>
                </tbody>
            </table>
            <h2>js使用后效果展示</h2>
            <p>当在文章中使用h2标签时，目前会自动提取出h2的文字内容，并形成列表显示在左上角，自动添加锚点，点击列表相应的标题后会自动跳转到相应的h2。</p>
            <hr/>
            <h6>这是华丽丽的分割线↑↑↑↑↑↑↑↑↑↑→&lt;hr/&gt;</h6>
            <h2>声明</h2>
            <p>这是自己写着玩自己用的小玩意儿，够用就好，没有花太多的时间。如果有朋友觉的还不错，蛮好看，尽管拿去用就好。</p>
            <p>使用less+gulp的方式开发，js是原生写的，感兴趣的朋友可以看一下代码。</p>
            <p>觉得配色方面或者格式有不符合自己审美的朋友，可以给本项目一个分支，嫌麻烦的话直接自己覆盖就可以了。</p>
            <strong>如果需要转载或者引用的话，请注明作者：Kinice 网站：<a href="http://kinice.top">kinice.top</a></strong>
        </article>
    </div>
</div>
<footer class="g-ft">
    <p>作者：Kinice</p>
    <p>Follow me on <a href="https://github.com/Kinice">Github</a></p>
</footer>
<script src="../src/static/js/karticle.min.js"></script>
</body>
</html>
